- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{ServiceGroup, ServiceGroupContents}
-@ val districtTitle: String
-@ val districtTitleNominative: String
-@ val regionTitle: String = "Санкт-Петербурга"
-@ val possibleLocations: String
-@ val additionalText: String = ""
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
-@ val organizations: Map[String, String]
- attributes("title") = "Вызов электрика в " + districtTitle + " районе " + regionTitle
- attributes("keywords") = "вызов электрика в " + districtTitle + " районе " + regionTitle + ", вызвать электрика в " + districtTitle + " районе " + regionTitle
- attributes("description") = "Вызов электрика в " + districtTitle + " районе " + regionTitle + ". Как вызвать электрика. Типичные расценки."
- attributes("pageCategory") = Services

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.call_electrician
            li.active
                h1 Вызов электрика в #{districtTitle} районе #{regionTitle}
            li
                a(href='/') Главная
                |&nbsp;→&nbsp;
            li
                a(href='/services/call-electrician') Вызов электрика
        - render("../../../pieces/orderFormJumbotron.jade", Map("phoneTitle" -> "Чтобы вызвать электрика, введите номер телефона:", "additionalData" -> ad.CallElectrician))
.container
    .case.justify
        .row-fluid
            .span12
                h2 Об услуге
                p<
                    |Если вы живете #{possibleLocations}, то ваш район –&nbsp;
                    strong #{districtTitleNominative}
                    |. #{additionalText} Компания “Меридор” оказывает полный спектр услуг по вызову электрика в #{districtTitle} районе #{regionTitle}, включая срочный и аварийный&nbsp;
                    a(href='/services/call-electrician') вызов электрика
                    |&nbsp;, а также вызов электрика в праздничные и выходные дни. Для того чтобы вызвать электрика в #{districtTitle} районе прямо сейчас, введите свое имя и номер телефона в форму. Некоторые расценки на выполняемые работы приведены в таблице ниже. Полный список расценок приведен на странице&nbsp;
                    a(href='/services/electrical-works') “Электромонтажные работы”
                    |.
                - render("../../../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
                -# h2 Полезные ссылки
                p В #{districtTitle} районе также работают следующие государственные жилищно-коммунальные организации:
                ul
                    - for ( (title, href) <- organizations )
                        li
                            a(href=href)=title