- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.OrderFormAdditionalData
- import ru.meridor.website.db.entities.{ServiceGroup, ServiceGroupContents}
-@ val mainHeader: String
-@ val applianceTypesHeader: String
-@ val applianceTypesParagraph: String
-@ val applianceTypesImgSrc: String = ""
-@ val connectionPriceHeader: String
-@ val connectionPriceParagraph: String
-@ val orderFormAdditionalData: OrderFormAdditionalData
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("pageCategory") = Services

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.electrical_appliances
            li.active
                h1=mainHeader
            li
                a(href='/') Главная
                |&nbsp;→&nbsp;
            li
                a(href='/services/electrical-appliances') Электроприборы
        - render("../../pieces/orderFormJumbotron.jade", Map("phoneTitle" -> "Чтобы вызвать электрика, введите номер телефона:", "additionalData" -> orderFormAdditionalData))
.container
    .case.justify
        .row-fluid
            .span12
                - if (applianceTypesImgSrc.length > 0)
                    img.pull-right(src=applianceTypesImgSrc alt=applianceTypesHeader title=applianceTypesHeader)
                h2=applianceTypesHeader
                :&markdown
                    #{applianceTypesParagraph}
                h2=connectionPriceHeader
                :&markdown
                    #{connectionPriceParagraph}
                - render("../../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap, "readOnly" -> true))
